<h2>Look at this chirp!</h2>

<ul>
  <%= render "chirp", chirp: @chirp, form: :show %>
</ul>
<form action="<%= chirp_url(@chirp) %>" method="post">
  <%= auth_token %>
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="slap this chirp">
</form>